---
import { Image } from "astro:assets";
import gofrida from "../../public/projects/gofrida.webp";
import gofridaStore from "../../public/projects/gofrida-store.webp";
import alone from "../../public/projects/alone.webp";
import GitHub from "./icons/GitHub.astro";
import Ruby from "./icons/Ruby.astro";
import Rails from "./icons/Rails.astro";
import React from "./icons/React.astro";
import JavaScript from "./icons/JavaScript.astro";
import Tailwind from "./icons/Tailwind.astro";
import Godot from "./icons/Godot.astro";
import CSharp from "./icons/CSharp.astro";
import Postgresql from "./icons/Postgresql.astro";
import Stripe from "./icons/Stripe.astro";
import Solidus from "./icons/Solidus.astro";
import Aws from "./icons/Aws.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

interface ProjectItem {
  title: string;
  description: string;
}

interface Props {
  project: Record<string, ProjectItem>;
}

const { project } = Astro.props as Props;
const projectArray = Object.values(project);

const TAGS = {
  RUBY: {
    name: "Ruby",
    class: "bg-[#8E241F]",
    icon: Ruby,
  },
  RAILS: {
    name: "Rails",
    class: "bg-[#A30000]",
    icon: Rails,
  },
  REACT: {
    name: "React",
    class: "bg-[#306D7D]",
    icon: React,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#A89937]",
    icon: JavaScript,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159]",
    icon: Tailwind,
  },
  GODOT: {
    name: "Godot",
    class: "bg-[#2A5472]",
    icon: Godot,
  },
  CSHARP: {
    name: "C#",
    class: "bg-[#68217A]",
    icon: CSharp,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#285274]",
    icon: Postgresql,
  },
  STRIPE: {
    name: "Stripe",
    class: "bg-[#312D7F]",
    icon: Stripe,
  },
  SOLIDUS: {
    name: "Solidus",
    class: "bg-[#9C241C]",
    icon: Solidus,
  },
  AWS: {
    name: "AWS",
    class: "bg-[#995B00]",
    icon: Aws,
  },
};

const PROJECTS = [
  {
    title: projectArray[0]?.title || "",
    description: projectArray[0]?.description || "",
    link: "https://www.guardiandemascotas.com",
    image: gofrida,
    tags: [
      TAGS.RUBY,
      TAGS.RAILS,
      TAGS.JAVASCRIPT,
      TAGS.REACT,
      TAGS.POSTGRESQL,
      TAGS.AWS,
      TAGS.TAILWIND,
    ],
  },
  {
    title: projectArray[1]?.title || "",
    description: projectArray[1]?.description || "",
    link: "https://gofrida.mx",
    image: gofridaStore,
    tags: [
      TAGS.RUBY,
      TAGS.RAILS,
      TAGS.JAVASCRIPT,
      TAGS.STRIPE,
      TAGS.SOLIDUS,
      TAGS.POSTGRESQL,
      TAGS.AWS,
      TAGS.TAILWIND,
    ],
  },
  {
    title: projectArray[0]?.title || "",
    description: projectArray[2]?.description || "",
    link: "https://alan-alone.itch.io/a-l-o-n-e",
    github: "https://github.com/alan-fiig/ALONE",
    image: alone,
    tags: [TAGS.GODOT, TAGS.CSHARP],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group lg:flex-row lg:space-x-8 lg:space-y-0">
        <div class="w-full lg:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full lg:w-1/2 lg:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2 gap-2">
            <ul class="flex flex-row flex-wrap gap-x-2 gap-y-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400 w-full">{description}</div>
            <footer class="flex flex-wrap items-end justify-start mt-4 gap-x-4 gap-y-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
